<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JUSTDOIT | Home</title>
    <link href="https://unpkg.com/tailwindcss@^2.2.7/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <div class="container flex flex-col mt-9   justify-center items-center ">
        <div class="bg-blue-400 rounded p-3 mt-5 ">
            <h1 class="text-white">PAGE NOT FOUND | 404</h1>
        </div>
    </div>
</body>
</html>